<header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
           <div class="logo">
            <img src="assets/prodevansLogo.svg" alt="Logo">
           </div>
           <input type="checkbox" id="nav-check">
           <label for="nav-check" class="nav-toggler">
              <span></span>
           </label>
           <nav class="nav">
              <ul>
                 <li><a href="index.html">NEW</a></li>
                 <li><a href="edit.html">EDIT</a></li>
                 <li><a href="search.html">SEARCH</a></li>
                 <li><a href="delete.html">DELETE</a></li>
              </ul>
           </nav>
        </div>
    </div>
 </header>