<footer class="footer">
    <div class="container">
       <div class="row">
          <div class="footer-col">
             <h4>company address</h4>
             <ul class="first">
                <li>Building # 389, Second Floor,</li>
                <li>8th Main, 7th Cross,</li>
                <li>MICO Layout, BTM 2nd stage,</li>
                <li>Bengaluru - 560076</li>
                <li>Phone: +91 8095933365</li>
                <li>Email: ask@prodevans.com</li>
             </ul>
          </div>
 
          <div class="footer-col">
             <h4>our services</h4>
             <ul>
                <li><a href="#">cloud services</a></li>
                <li><a href="#">application moderation</a></li>
                <li><a href="#">DevOps Tools</a></li>
                <li><a href="#">Identity & Access Management</a></li>
                <li><a href="#">Automation</a></li>
                <li><a href="#">Infrastructure</a></li>
                <li><a href="#">360 Degrees Monitoring</a></li>
             </ul>
          </div>
 
          <div class="footer-col">
             <h4>Industries</h4>
             <ul>
                <li><a href="#">Healthcare</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Insurance</a></li>
                <li><a href="#">Telecom</a></li>
                
             </ul>
          </div>
         
          <div class="footer-col">
             <h4>follow us</h4>
             <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
             </div>
          </div>
       </div>
    </div>
 </footer>