<div class="body">
    <div class="wrapper">
       <div class="title">
         Customer Registration Form
       </div>
       <div class="form">
          <div class="inputfield">
             <label>Name : </label>
             <input type="text" class="input">
          </div>  
          
         <div class="inputfield">
             <label>Mobile Number : </label>
             <input type="number" class="input">
          </div> 
 
          <div class="inputfield">
             <label>Email ID : </label>
             <input type="email" class="input">
          </div> 
 
         <div class="inputfield">
             <label>Company Name : </label>
             <input type="text" class="input">
          </div> 
 
          <div class="inputfield">
             <label>City : </label>
             <select style="width:100%; border: 1px solid; height: 35px; border-radius: 3px;">
                <option selected></option>
                <option value="city">Bangalore</option>
                <option value="city">Hydrabad</option>
                <option value="city">Mumbai</option>
                <option value="city">Singapore</option>
             </select>
          </div>
 
          <div class="inputfield">
             <label>Certification - interested : </label>
             <div>
              <label class="checkbox-inline">
                <input type="checkbox" value="certificate">RHCSA
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="certificate">RHCE
              </label><br/>
              <label class="checkbox-inline">
                <input type="checkbox" value="certificate">Advance Ansible
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="certificate">RedHat OpenShift
              </label><br/>
              <label class="checkbox-inline">
                <input type="checkbox" value="certificate">RedHat OpenStack
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="certificate">Python training
              </label><br/>
              <label class="checkbox-inline">
                <input type="checkbox" value="certificate">Kubernetes
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="certificate">DevOps
              </label>
             </div>
          </div>
         <div>
             <label class="check">
               <input type="checkbox">
               <span class="checkmark"></span>
             </label>
             Accept term and conditions I agree to get periodic offers and informations from Prodevans on Red Hat Training and Certification.
          </div> <br/>
         <div class="inputfield2">
           <input type="submit" value="Submit" class="btn">
           <input type="submit" value="Clear" class="btn">
         </div>
       </div>
   </div>	
 
  </div>